juju_version="latest/stable"
launchpad_user="setuid"
maas_bridge_ip="192.168.100.1"
maas_boot_source="http://"$maas_bridge_ip":8765/maas/images/ephemeral-v3/daily/"
maas_endpoint="http://$maas_bridge_ip:5240/MAAS"
maas_ip_range="192.168.100"
maas_local_proxy="http://$maas_bridge_ip:8000"
maas_pass="openstack"
maas_profile="admin"
maas_system_ip="192.168.1.10"
maas_subnet_start="192.168.100.100"
maas_subnet_end="192.168.100.200"
maas_upstream_dns="1.1.1.1 4.4.4.4 8.8.8.8"
maas_user="maas"
maas_version="2.4"
squid_proxy="http://192.168.100.10:3128"
virsh_user="ubuntu"
package_mirror="http://$maas_bridge_ip:8765/mirror/ubuntu"
snap_store_proxy="$squid_proxy"
snap_store_assertions=""