juju_version="2.9/stable"
launchpad_user="setuid"
maas_bridge_ip="192.168.120.1"
# maas_boot_source="http://"$maas_bridge_ip":8765/maas/images/ephemeral-v3/candidate/"
maas_boot_source="https://images.maas.io/ephemeral-v3/candidate/"
maas_endpoint="http://$maas_bridge_ip:5240/MAAS"
maas_ip_range="192.168.120"
maas_local_proxy="http://$maas_bridge_ip:8000"
maas_pass="maas"
maas_profile="admin"
maas_system_ip="192.168.120.1"
maas_subnet_start="192.168.120.150"
maas_subnet_end="192.168.120.200"
lxd_subnet_start="192.168.120.2"
lxd_subnet_end="192.168.120.12"
maas_upstream_dns="192.168.4.1 45.90.28.51 45.90.30.51"
maas_user="maas"
maas_version="3.2"
no_proxy="localhost,127.0.0.1,$maas_system_ip"
squid_proxy="http://192.168.120.11:3128"
virsh_user="desrod"
virsh_chassis="qemu+ssh://${virsh_user}@${maas_bridge_ip}/system"
package_repository="http://$maas_bridge_ip:8765/mirror/ubuntu"
snap_store_proxy="$squid_proxy"
snap_store_assertions=""
