juju_version="latest/stable"
launchpad_user="setuid"
maas_bridge_ip="192.168.101.1"
maas_boot_source="http://"$maas_bridge_ip":8765/maas/images/ephemeral-v3/daily/"
maas_endpoint="http://$maas_bridge_ip:5240/MAAS"
maas_ip_range="192.168.101"
maas_local_proxy="http://$maas_bridge_ip:8000"
maas_pass="openstack"
maas_profile="admin"
maas_system_ip="192.168.101.1"
maas_subnet_start="192.168.101.11"
maas_subnet_end="192.168.101.99"
maas_upstream_dns="192.168.4.1 45.90.28.51 45.90.30.51"
maas_user="maas"
maas_version="2.8"
no_proxy="localhost,127.0.0.1,$maas_system_ip"
squid_proxy="http://192.168.101.10:3128"
virsh_user="ubuntu"
package_repository="http://$maas_bridge_ip:8765/mirror/ubuntu"
snap_store_proxy="$squid_proxy"
snap_store_assertions=""
